/* App.css: Globalni stilovi */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #CBC6CE; /* Pozadina za aplikaciju */
  color: black; /* Globalna boja teksta */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Omogućava da sadržaj ispuni visinu ekrana */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
