/* App.css: Globalni stilovi */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #cbc6ce; /* Pozadina za aplikaciju */
  color: black; /* Globalna boja teksta */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Omogućava da sadržaj ispuni visinu ekrana */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.auth-form {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* light shadow to make the form stand out */
  width: 400px; /* set a width for the form */
  text-align: center; /* center text */
}

.auth-container {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100vh; /* Make container fill the full height of the viewport */
}

.logbtn {
  background-color: #826afb; /* Purple background */
  color: white;
  border: white;
  border-style: solid;
  padding: 7px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.logbtn:hover {
  transform: scale(1.1); /* Slightly increase size */
  background-color: #cbc6ce; /* Darker purple on hover */
}

.link-style {
  color: inherit; /* Inherit color from parent */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Ensures the link behaves like inline content */
}
