.btn {
  width: 80%; /* Širina kao input polja */
  padding: 10px 0; /* Vertikalno poravnanje */
  font-size: 16px; /* Veličina fonta */
  color: #000000; /* Ljubičasti tekst */
  background-color: #629d9a; /* Bela pozadina */
  border: 2px solid #629d9a; /* Ljubičasti obrub */
  border-radius: 8px; /* Blagi zaobljeni uglovi */
  cursor: pointer; /* Ikonica za pokazivač */
  transition: all 0.3s ease; /* Glatka tranzicija */
  margin-bottom: 12px;
}
 
.btn:hover {
  background-color: #629d9a; /* Ljubičasta pozadina pri hoveru */
  color: rgb(0, 0, 0); /* Bela boja teksta pri hoveru */
}
