/* Sekcija sa kontaktom */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
  }
  
  /* Stil dugmeta unutar forme */
  form button {
    width: 100%;
    height: 55px;
    background: #629d9a; /* Nova boja za dugme */
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: white; /* Bela boja teksta na dugmetu */
    font-weight: 500;
    margin-top: 25px;
    transition: 0.5s;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Senka na dugmetu */
  }
  
  /* Hover efekat za dugme */
  form button:hover {
    background: #529d99; /* Tamnija nijansa na hover */
  }
  
  /* Forma unutar kontakta */
  form {
    max-width: 600px;
    width: 100%;
    background-color: rgba(52, 112, 82, 0.5); /* Tamna poluprozirna pozadina, kao u .left-text */
    padding: 25px 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: white; /* Bela boja teksta, kao u .left-text */
    margin: 25px;
  }
  
  /* Naslov unutar forme */
  form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Senka za kontrast, kao u .left-text */
  }
  
  /* Sekcija sa poljima unutar forme */
  form .input-box {
    margin-top: 20px;
  }
  
  /* Stil za polja u formi */
  .input-box .field {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    color: white; /* Bela boja teksta u poljima */
    margin-top: 8px;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.3); /* Tamna pozadina sa prozirnošću u polju */
  }
  
  /* Placeholder stil za polja u formi */
  .input-box .field::placeholder {
    color: white; /* Bela boja za placeholder */
  }
  
  /* Polje za poruku u formi */
  .input-box .field.mess {
    height: 200px;
    resize: none;
  }
  