.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #ddd;
  box-shadow: 1px -3px 4px rgba(0, 0, 0, 0.3);
  background-color: rgba(92, 152, 112, 0.5) !important;
}

.footer-logo img {
  width: 200px;
  height: auto;
}

.footer-text {
  flex: 1;
  text-align: center;
  font-size: 16px;
  color: #444;
}

.footer-social a {
  margin: 0 10px;
}

.footer-social img {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
        padding: 10px;
    }
    .navbar ul {
        flex-direction: column;
        gap: 10px;
    }
    .card-container, .about-container, .about-containerB {
        flex-direction: column;
        padding: 10px;
    }
    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 15px;
    }
    .image-item, .text-item {
        width: 100%;
        margin-bottom: 10px;
    }
    .round-image {
        max-width: 100%;
        height: auto;
    }
    .btn {
        width: 100%;
        font-size: 14px;
        padding: 12px;
    }
    .footer {
        font-size: 12px;
        padding: 10px;
    }
}
@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
    .card-container h1 {
        font-size: 1.5rem;
    }
    .card-container p {
        font-size: 0.9rem;
    }
}
