.hero {
  height: 100vh; /* Cela visina prozora */
  background-image: url('../images/kompas.png'); /* Pozadina */
  background-position: center; /* Centriranje slike */
  background-size: cover; /* Pokrivanje ekrana */
  background-repeat: no-repeat; /* Bez ponavljanja slike */
  display: flex;
  align-items: center; /* Vertikalno centriranje sadržaja */
}

.left-text {
  position: absolute; /* Pozicionira tekst apsolutno u odnosu na roditelja */
  top: 20%; /* Pomeranje teksta na 20% visine ekrana od vrha */
  left: 0; /* Poravnanje sa levom ivicom ekrana */
  padding: 20px;
  color: white; /* Boja teksta za kontrast */
  background-color: rgba(0, 0, 0, 0.5); /* Tamna pozadina sa prozirnošću */
  width: 40%; /* Povećavanje širine teksta */
  border-radius: 8px; /* Blago zaobljeni uglovi */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Senka za bolju čitljivost */
  margin-left: 10px;
  margin-top: 100px;
}

.left-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.left-text p {
  font-size: 1rem;
  line-height: 1.6;
}
