.Input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
 
.Input {
  width: 80%; /* Ista širina kao dugme */
  padding: 10px; /* Prilagođava visinu */
  font-size: 16px; /* Veličina teksta */
  color: #826afb; /* Bela boja teksta unutar input-a */
  background-color: #fff; /* Ljubičasta pozadina */
  border: 2px solid #826afb; /* Tanak ljubičasti obrub */
  border-radius: 8px; /* Blagi zaobljeni uglovi */
  outline: none; /* Uklanja okvir pri fokusu */
  transition: all 0.3s ease; /* Glatka tranzicija */
}
 
.Input::placeholder {
  color: #826afb; /* Svetlija ljubičasta za placeholder tekst */
}
 
.Input:focus {
  background-color: white; /* Menja pozadinu na belo pri fokusu */
  color: #826afb; /* Ljubičasti tekst pri fokusu */
  border: 1px solid #826afb; /* Ljubičasti obrub ostaje */
}
