@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&family=Parkinsans:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: black;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
}

.icon img {
  width: 170px;
  height: 40px;
  margin-right: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  margin: 0 15px;
}

ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

ul li a:hover {
  color: #629d9a;
  transform: scale(1.1);
}

ul li a.active {
  color: #629d9a;
  font-weight: 600;
  border-bottom: 2px solid #629d9a;
}

.profile-icon-container {
  position: relative;
  cursor: pointer;
}

.user_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #629d9a;
  transition: transform 0.3s ease-in-out;
}

.user_icon:hover {
  transform: rotate(360deg);
}

.profile-panel {
  position: absolute;
  top: 60px;
  right: 0;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1rem;
  width: 250px;
  z-index: 10;
}

.profile-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.profile-row h2, 
.profile-row h3 {
  margin: 0;
  font-size: 1rem;
}

.edit-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.btn-view-results {
  background-color: #629d9a;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-view-results:hover {
  background-color: #629d9a;
}

.btn-delete {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.btn-delete:hover {
  background-color: darkred;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  ul li {
    margin: 10px 0;
  }

  .profile-panel {
    width: 90%;
  }
}

.logo-container .icon img {
  width: 170px;
  height: 40px;
  transition: transform 0.3s ease-in-out;
}

.logo-container .icon img:hover {
  transform: scale(1.1);
}
