@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&family=Parkinsans:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Navbar.css: Stilovi za navigaciju */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: black;

  padding: 1rem 2rem;
  position: sticky;
  position: relative;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  user-select: none;
}

.logo-container:hover {
  transform: scale(1.1);
}

.icon img {
  width: 100; /* Smanjeno sa 60px na 50px radi balansa */
  height: 50px;
  margin-right: 15px; /* Pomeranje ikone od teksta */
}

.navbar .logo {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem; /* Smanjeno sa 2.2rem na 2rem */
  font-weight: bold;

  color: #629d9a; /* Ljubičasta boja */
  letter-spacing: 1px; /* Umeren razmak između slova */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* Suptilna senka */
  transition: color 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.navbar .logo:hover {
  color: #629d9a; /* Svetlija ljubičasta pri hover-u */
  transform: translateY(-3px); /* Dodajemo nežno pomeranje na hover */
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: #333; /* Tamnija nijansa crne za linkove */
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar ul li a:hover {
  color: #629d9a; /* Ljubičasta boja prilikom hover-a */
  transform: scale(1.1);
}

.navbar ul li a::after {
  content: "";
  margin: auto;
  display: block;
  width: 0%;
  height: 2px;
  background-color: #629d9a; /* Ljubičasta boja za hover liniju */
  opacity: 0;
  transition: 0.6s;
}

.navbar ul li a:hover::after {
  width: 100%;
  opacity: 1;
}

.user_icon {
  width: 45px;
  height: 45px;
  transition: transform 0.3s ease;
}

.user_icon:hover {
  transform: scale(1.1);
  transition: transform 0.3 s ease;
}
