/* Glavni kontejner */
.test-container {
  padding: 20px;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff; /* Bela pozadina */
}

/* Naslov ankete */
.test-container h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Kontejner za svako pitanje */
.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8; /* Svetla boja pozadine za polja sa pitanjima */
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Tekst pitanja */
.question-container p {
  margin: 0;
  font-size: 16px;
  color: #444;
  flex: 1; /* Omogućava prostoru za pitanje da se rastegne */
}

/* Grupa radio dugmadi */
.radio-group {
  display: flex;
  gap: 10px; /* Razmak između radio dugmadi */
}

.radio-group label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
  accent-color: #629d9a; /* Ljubičasta boja */
}

/* Dugme za slanje */
.submit-button {
  display: block;
  margin: 30px auto;
  padding: 10px 20px;
  background-color: #629d9a; /* Ljubičasta boja */
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.submit-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* Rezultati */
.results {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f8f8f8;
}

.results h2 {
  margin-bottom: 10px;
  color: #444;
}

.results ul {
  list-style-type: none;
  padding: 0;
}

.results ul li {
  margin: 5px 0;
  font-size: 14px;
}
